{% load static %}
<div class="footerbody">
    <div class="footermain">
        <ul class="social_icon">
            <li><a href="#">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a></li>
            <li><a href="#">
                    <ion-icon name="logo-telegram"></ion-icon>
                </a></li>
            <li><a href="{{footer.instagram}}">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>


        </ul>
                        <div><p>آدرس : {{footer.address}}</p></div>
                        <div><p>شهر : {{footer.city}}</p></div>
                        <div><p>تلفن : {{footer.phone}}</p></div>
                        <div><p>ایمیل : {{footer.email}}</p></div>

        <p>@2022 All Rights Reserved</p>
    </div>
</div>

