{% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>باشگاه تناسب اندام</title>
    <link rel="title icon" type="image/png" href="{% static 'images/log.png' %} " />

    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link
      rel="stylesheet"
      href=" {% static 'bootstrap-project/bootstrap.rtl.min.css' %}"
    />
    <link
      rel="stylesheet"
      href=" {% static 'bootstrap-icons-1.11.3/font/fonts/bootstrap-icons.min.css' %}"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />