/* fonts */
@font-face {
  font-family: vazir;
  src: url(../assets/font/Vazir.ttf);
}
@font-face {
  font-family: lalezar;
  src: url(../assets/font/Lalezar-Regular.ttf);
}
body {
  font-family: "vazir", sans-serif;
  font-size: 1rem;
  background-color: #ddd !important;
}
.lalezar {
  font-family: lalezar;
}

/* utilities */
.lh1 {
  line-height: 30px;
}
.lh2 {
  line-height: 35px;
}
.lh3 {
  line-height: 45px;
}
.orange {
  color: orange;
}
button.navbar-toggler {
  background-color: orange;
}
/*end of utilities */

/*  header   */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../assets/images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav.navbar {
  background: rgb(6, 6, 6);
  background: radial-gradient(
    circle,
    rgba(42, 26, 16, 0.958420868347339) 0%,
    rgba(6, 6, 6, 1) 100%
  );
}
@media (max-width: 768px) {
  #offcanvasNavbar {
    background: rgb(6, 6, 6);
    background: radial-gradient(
      circle,
      rgba(42, 26, 16, 0.958420868347339) 0%,
      rgba(6, 6, 6, 1) 100%
    );
  }
}
.oxy {
  color: orange;
  transition: all 0.3s;
}
.oxy:hover {
  color: orangered;
}
.offcanvas-body li a {
  color: #e3d9d9;
  font-size: 17px;
  transition: all 0.3s;
}

.offcanvas-body li:hover a {
  color: orange;
  transform: translateY(-2px);
}
.offcanvas-body a.active {
  color: orange !important;
  transform: translateY(-2px);
}

/* banner   */
.banner {
  letter-spacing: 7px;
}
.banner-heading {
  font-size: 80px;
}
.banner-heading span {
  transition: all 0.3s;
  font-size: 135px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: orange;
}
@media (max-width: 1150px) {
  .banner-heading {
    font-size: 50px;
  }
  .banner-heading span {
    font-size: 90px;
  }
  .banner-par span {
    font-size: 28px;
  }
  #cap {
    font-size: 35px;
  }
  #carouselExample{
    width: 900px !important; 
    height:600px !important ;
  }
  #carouselExampleCaptions{
    width: 900px !important; 
    height:600px !important ;
  }
}
@media (max-width: 1000px){
  #carouselExample{
    width: 700px !important; 
    height:600px !important ;
  }
  #carouselExampleCaptions{
    width: 700px !important; 
    height:600px !important ;
  }
}
@media (max-width: 800px) {
  .banner-heading {
    font-size: 30px;
  }
  .banner-heading span {
    font-size: 70px;
  }
  .banner-par span {
    font-size: 25px;
  }
  .banner-par .first-span {
    display: block;
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .banner-heading {
    font-size: 25px;
  }
  .banner-heading span {
    font-size: 60px;
  }
}

.banner-heading span:hover {
  color: orangered;
}
.banner-heading sub:hover  {
  color: orangered !important;
}


.banner-par {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.banner-par #cap {
  font-size: 70px;
  color: orange;
}

/* end of banner   */
/* end of header   */

/* awards */
.awards {
  background: rgb(6, 6, 6);
  background: linear-gradient(
    180deg,
    rgba(6, 6, 6, 1) 0%,
    rgba(42, 26, 16, 0.908813025210084) 100%
  );
}
.fa-medal,
.fa-award,
.fa-trophy {
  transition: all 0.3s;
}
.fa-medal:hover,
.fa-award:hover,
.fa-trophy:hover {
  transform: scale(1.05);
}

/* end of awards */

/* services */
#services {
  background: linear-gradient(
      rgba(42, 26, 16, 0.6) 0%,
      rgba(21, 31, 32, 0.9) 100%
    ),
    url(../assets/images/gallery4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-shadow {
  box-shadow: 5px 8px 20px #444;
}
.heading {
  position: absolute;
  bottom: 20px;
  left: 0px;
  font-size: 25px;
  background-color: #2980b9;
  width: 50%;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  opacity: 0.7;
  text-align: center;
  transition: all 0.4s;
}
.heading:hover {
  opacity: 1;
  width: 60%;
}
/* end of services */

/* plans  */
#plans {
  background-color: lightgray;
}
.card-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../assets/images/membership.jpg);

  background-position: center;
  background-size: cover;
}
/*end of plans  */

/* contact  */
.contact {
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 0.8) 0%,
      rgba(21, 31, 32, 0.9) 50%,
      transparent 50%
    ),
    url(../assets/images/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#floatingInput,
#floatingEmail {
  background: transparent;
  border: none;
  border-color: transparent;
  border-radius: 0;
  color: #000;
  border-bottom: 2px groove #ccc;
  transition: all 0.8s;
}
#floatingInput:focus,
#floatingEmail:focus {
  background: transparent;
  border: none;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 2px groove orange;
}
#floatingInput:focus {
  border-right: 2px groove orange;
  border-bottom-right-radius: 10px;
}
#floatingEmail:focus {
  border-left: 2px groove orange;
  border-bottom-left-radius: 10px;
}
#logo-img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  bottom: 20px;
  mix-blend-mode:multiply;
}
/*end of contact  */

#index2 {
  background: linear-gradient(
      rgba(21, 31, 32, 0.8) 0%,
      rgba(21, 31, 32, 0.9) 50%
    ),
    url(../assets/images/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 /* ----------------------------------------------------- */

 @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


.footerbody {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 30vh;
    background: #333;
}

.footermain {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footermain .social_icon,
.footermain .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footermain .social_icon li,
.footermain .menu li {
    list-style: none;
}

.footermain .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.footermain .social_icon li a :hover {
    transform: translateY(-10px);
}

.footermain .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.footermain .menu li a:hover {
    opacity: 1;
}

.footermain p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* --------------------------------------------------------------- */

@font-face {
  font-family: yekan;
  src: url(../font/B\ Yekan.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: yekan !important;
  font-size: 18px;
}
div.sideNav {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../img/sidebar-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btitr {
  font-family: b titr;
}
.current {
  background-color: #f44336;
  box-shadow: 2px 5px 10px #111;
  transition: all 0.4s;
  padding: 10px;
}
.current:hover {
  background-color: #f66436;
  transform: translateY(-1px);
}

.mouseon {
  padding: 10px;
  transition: all 0.4s;
}
.mouseon:hover {
  padding: 10px;
  background-color: #444;
}
.bi {
  padding-left: 5px;
}

.search-input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all 0.4s;
}
.search-input::placeholder {
  color: #999;
}
.search-input:focus {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid #f66436;
  color: #eee;
}
.search-button {
  border-radius: 50%;
  padding: 10px 10px;
  border: 0;
  color: #f44336;
}
.search-button:hover {
  background-color: #f66436;
  transform: translateY(-1px);
  color: white;
}

.bi-box-arrow-right {
  color: #f66436;
}
#bi-box-arrow-right {
  transition: all 0.3s;
}
#bi-box-arrow-right:hover {
  color: #f44336;
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .topNav {
    position: static;
  }
  .sideNav {
    position: static;
    max-height: 450px;
    overflow-y: scroll;
  }
}

.mycard {
  box-shadow: 1px 2px 5px #999;
  transition: all 0.4s;
}
.mycard:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}

.mycard-bottom {
  background-color: #999;
  box-shadow: 1px 2px 3px #999;
  transition: all 0.4s;
}
.mycard-bottom:hover {
  background-color: gray;
  box-shadow: 2px 4px 5px #999;
}

#right-border {
  border-right: 5px solid #f66436;
  padding-right: 5px;
  box-shadow: 2px 3px 15px #999;
}
#input1 {
  border: 0;
  border-radius: 0;
  transition: all 0.4s;
  border-right: 5px solid #f66436;
}
#input1::placeholder {
  font-size: 17px;
}
#input1:focus {
  border: none;
}


/* lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
* {
}
body {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.clock {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  background: url(../img/com.persnoid.paclw.demo0.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  box-shadow: inset 0px 0px 15px 5px #292828;
}
.clock::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
}
.sec {
  width: 240px;
  height: 70px;
  display: flex;
  /* background-color: pink; */
  justify-content: center;
  /* transform: rotateZ(0deg); */
}
.sec::before {
  content: "";
  background: greenyellow;
  width: 2px;
  height: 45px;
  border-radius: 5px;
  z-index: 3;
}
.min {
  width: 210px;
  height: 80px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  position: absolute;
  /* transform: rotateZ(45deg); */
}
.min::before {
  content: "";
  background: lightcyan;
  width: 3px;
  height: 50px;
  border-radius: 5px;
  z-index: 2;
}
.hour {
  width: 170px;
  height: 60px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  position: absolute;
  /* transform: rotateZ(90deg); */
}
.hour::before {
  content: "";
  background: rgb(131, 113, 113);
  width: 5px;
  height: 40px;
  border-radius: 5px;
  z-index: 1;
}

/* -------------------------------------- */

/* 35-mini project.css */
/* img {
  width: 30px;
  border: solid black 3px;
  border-radius: 50%;
  margin: 10px;
}
#face {
  display: block;
  width: 150px;
  height: 150px;
  border: solid black 3px;
  border-radius: 50%;
  margin: auto;
}
span {
  display: inline-block;
  border-style: ridge;
  border-width: 0px;
  border-color: gray;
  background: gray;
  width: 500px;
  text-align: center;
}
div {
  box-sizing: border-box;
  border: solid white 0px;
  background: white;
  width: 500px;
  margin:150px auto;
  border-radius: 10px;
}
p {
  text-align: center;
}
p.name {
  font-size: 18px;
  font-family: fantasy;
  color: darkslategray;
}
hr {
  width: 165px;
  height: 5px;
  background: gray;
  margin-top: -12px;
}
body {
  background: lightgray;
}
 */
